:root{  
    --cor-preto: #171717;
    --cor-azul-escuro: #000A20;
    --cor-branco:#ffffff;

    --cor-vermelho:#dc2626;
    --cor-verde:#22c55e;
    --cor-azul: #3b82f6;
    --cor-amarelo:#facc15;
    
    --font-bold: Montserrat-Bold;
    --font-regular: Montserrat-Regular;
    --font-medium: Montserrat-Medium;

    --shadow-white-1: 0px 0px 20px #ffffff;
    --shadow-white-2: 0px 0px 10px #ffffff;
}